<div class="sidebar">
    <br>
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="~/Ready-Bootstrap-Dashboard/#collapseExample" aria-expanded="true">
                    <span>
                        Yönetim Paneli
                        <span class="user-level">Admin</span>
                    </span>
                </a>
            </div>
        </div>
        <ul class="nav">
            @{
                var menuItems = new List<(string href, string text)>
                {
                    ("/Notifications/Index", "Bildirimler"),
                    ("/ProgressBars/Index", "Anlık İstatistik ve Durumlar"),
                    ("/Categories/Index", "Kategoriler"),
                    ("/Products/Index", "Ürünler"),
                    ("/Bookings/Index", "Rezervasyonlar"),
                    ("/Abouts/Index", "Hakkımızda"),
                    ("/Contacts/Index", "İletişim"),
                    ("/Discounts/Index", "İndirimler"),
                    ("/Sliders/Index", "Öne Çıkanlar"),
                    ("/References/Index", "Referanslar"),
                    ("/Statistics/Index", "İstatistikler"),
                };

                var sortedMenuItems = menuItems.OrderBy(item => item.text).ToList();
            }

            @foreach (var item in sortedMenuItems)
            {
                <li class="nav-item">
                    <a href="@item.href">
                        <i class="la la-fonticons"></i>
                        <p>@item.text</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
