@model CreateBookingWebDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeaderPartialComponent");

<body class="sub_page">

@await Component.InvokeAsync("_UILayoutNavbarPartialComponent");

<!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Rezervasyon Ayarla !
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form method="post">
              <div>
                <input type="text" asp-for="Name" class="form-control" placeholder="Adınız" />
              </div>
              <div>
                <input type="text" class="form-control" asp-for="Telephone" placeholder="0533 333 3333" />
              </div>
              <div>
                <input type="email" class="form-control" asp-for="Email" placeholder="xxxxxx@mail.com" />
              </div>
              <div>
                  <input asp-for="PersonCount" min="1" type="number" id="personCount" name="PersonCount" class="form-control" placeholder="Kişi Sayısı Giriniz" />
              </div>


              <div>
                <input asp-for="Date" type="date" class="form-control" id="date" min="@DateTime.Now.ToString("yyyy-MM-dd")">
              </div>
              <div class="btn_box">
                <button>
                  Rezervasyon Yap
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
@await Component.InvokeAsync("_UILayoutFooterPartialComponent");
<!-- footer section -->

  <!-- jQery -->
@await Component.InvokeAsync("_UILayoutScriptsPartialComponent")

</body>

</html>